version: '3.4'

services:
  postgresql:
    image: postgres:12
    env_file:
      - env.d/development/postgresql

  marion:
    build:
      context: .
      target: development
      args:
        DOCKER_USER: ${DOCKER_USER:-1000}
    user: ${DOCKER_USER:-1000}
    image: marion:development
    env_file:
      - env.d/development/postgresql
      - env.d/development/common
    ports:
      - "8000:8000"
    volumes:
      - ./src/marion:/app
      - ./src/howard:/usr/local/src/howard
      - ./data/media:/data/media
    depends_on:
      - "postgresql"

  dockerize:
    image: jwilder/dockerize
