{% load i18n %}
{% load static %}

<html>
  {% if debug %}
  <head>
    <style>
      {{ css }}
    </style>
  </head>
  {% endif %}
  <body>
    <div class="certificate realisation">
      <header>
        <div class="logos">
          <div class="ministry">
            <img src="{{ debug | yesno:",file://" }}{% static "howard/logo-ministere-travail.svg" %}" />
          </div>
          <div class="organization">
            <img src="{{ debug | yesno:",file://" }}{% static "howard/logo-edx.svg" %}" />
          </div>
        </div>
        <div class="title">
          <h1>CERTIFICAT DE REALISATION</h1>
        </div>
      </header>
      <article class="main">
        <section id="organization">
          <p>
            Je soussigné(e)
            <span>
              {{ course_run.course.organization.manager.first_name }}
              {{ course_run.course.organization.manager.last_name }}
              </span>
          </p>
          <p>
            représentant légal du dispensateur de formation
            <span>
              {{ course_run.course.organization.name }}
            </span>
          </p>
          <p>atteste que :</p>
        </section>
        <section id="student">
          <div class="name">
            <span class="gender">{{ student.gender }}</span>
            <span class="last-name">{{ student.last_name }}</span>
            <span class="first-name">{{ student.first_name }}</span>,
          </div>
          <div class="organization">
            salarié(e) de l'entreprise <span>{{ student.organization.name }}</span>
          </div>
        </section>
        <section id="course">
          <div class="name">
            a suivi l'action de formation <span>{{ course_run.course.name }}</span>.
          </div>
          <div class="scope">
            <p>
              Nature de l'action de formation :
              <span>{{ course_run.course.scope }}</span>
            </p>
          </div>
          <div class="dates">
            qui s'est déroulée du
            <span>{{ course_run.start | date:"d/m/Y" }}</span> au
            <span>{{ course_run.end | date:"d/m/Y" }} </span>
          </div>
          <div class="duration">
            pour une durée totale de <span>{{ course_run.course.duration }}</span> heures.
          </div>
        </section>
        <section id="legal">
          <p>
            Sans préjudice des délais imposés par les règles fiscales,
            comptables ou commerciales, je m'engage à conserver l'ensemble des
            pièces justificatives qui ont permis d'établir le présent
            certificat pendant une durée de 3 ans à compter de la fin de
            l'année du dernier paiement. En cas de cofinancement des fonds
            européens la durée de conservation est étendue conformément aux
            obligations conventionnelles spécifiques.
          </p>
        </section>
        <section id="signatures">
          <div>
            <div class="location">
              Fait à : <span>{{ course_run.course.organization.location }}</span>
            </div>
            <div class="date">
              Le : <span>{{ creation_date | date:"d/m/Y" }}</span>
            </div>
          </div>
          <div class="seal">
            <p>
              Cachet et signature du responsable du dispensateur de formation
            </p>
            <div class="manager">
              <span class="gender">{{ course_run.manager.gender }}</span>
              <span class="last-name">{{ course_run.manager.last_name }}</span>
              <span class="first-name">{{ course_run.manager.first_name }}</span>,
              <span class="first-name">{{ course_run.manager.position }}</span>
              <br/>

              <img src="{{ debug | yesno:",file://" }}{% static "howard/test-signature.png" %}" />
            </div>
          </div>
        </section>
      </article>
      <footer>
        <div class="identifier">
          <span>Identifiant du certificat :</span>
          <code>
            {{ identifier }}
          </code>
        </div>
        <div class="generated-at">
          <span>
            Tampon de livraison :
          </span>
          <code>
            {{ delivery_stamp }}
          </code>
        </div>
      </footer>
    </div>
  </body>
</html>
